* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* section 1 start our staff training  */
.staff-section {
    line-height: 1.6;
    max-width: 1200px;
    padding-bottom: 30px;
    background-color: fff;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.container {
    max-width: 1200px;
}

.head-title h1 {
    font-weight: 800;
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding: 5px 10px 0px 10px;
    color: #77480a;
}

.text_info p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

.image-cards {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.staff_card {
    width: 380px;
    border-radius: 8px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.staff_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.staff_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.staff_card h3 {
    margin: 10px 0;
    font-weight: 700;
    font-size: 1.2rem;
    color: #77480a;
}

.staff_card p {
    font-size: 0.9rem;
    padding: 0 10px 20px;
    color: #666;
    text-align: left;
}


/* section 2 start our working process  */
.work-process-card {
    z-index: 1;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url('/public/images/working Process.jpeg');
}

.work-process-card::before {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.7);
    position: absolute;
    pointer-events: none;
}

.work-section {
    z-index: 2;
    padding: 20px;
    line-height: 1.6;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;

}

.work-image-cards {
    gap: 20px;
    padding-top: 50px;
    padding: 90px 0px 70px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-card {
    width: 250px;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.work-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.work-card img {
    width: 70%;
    margin: 10px 0;
    padding-top: 25px;
    border-radius: 5px;
    height: auto;
}

.work-card h3 {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: #333;
}

.circle {
    top: -25px;
    width: 45px;
    left: 100px;
    height: 45px;
    font-weight: 600;
    font-size: 1.7rem;
    border-radius: 50%;
    margin: 0 auto 10px;
    color: black;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: white;
}

/* ........ */

 .section-choose-us {
     display: flex;
     padding: 50px;
     line-height: 1.6;
     max-width: 1200px;
     margin: auto;
 }

 .left-img {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .left-img img {
     width: 600px;
     height: auto;
 }

 .right-div {
     flex: 2;
     display: flex;
     gap: 20px;
     justify-content: space-evenly;
 }

.test {
     line-height: 1.6;
     text-decoration: ;
}



 .column {
     flex: 1;
     padding-left: 50px;
 }

 .column h3 {
     margin: 0 0 10px 0;
 }

 .column p {
     margin: 0 0 10px 0;
 }

 .column .line {
     height: 2px;
     background-color: #000;
     margin: 0 auto;
    
 }