/* section 1 start our staff training  */

@media (max-width: 480px) {
    .head-title h1 {
        padding-top: 15px;
        font-size: 1.4rem !important;
        padding: 10px 20px 0px 20px;
    }

    .text_info p {
        font-size: 13px;
        padding: 5px 25px 20px 25px;
    }
    .text_info_process p {
        font-size: 13px;
        padding: 5px 25px 20px 25px;
    }

    .staff_card h3 {
        font-size: 1rem;
    }

    .staff_card p {
        font-size: 13px;
    }

    /* section 2 start our working process  */
    .our-working-section {
        padding-top: 20px;
    }

    .working-images {
        padding: 60px 0px 45px 0px;
    }

    .working-img-card {
        align-items: center;
        flex-direction: column;
    }

    .working-img-card {
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
    }

    .circle {
        top: -20px;
        width: 35px;
        height: 35px;
        font-size: 1.4rem;
        left: calc(50% - 17.5px);
    }

    .working-img-card img {
        width: 60%;
    }

    .working-img-card h3 {
        font-size: 2rem;
        margin-top: 15px;
    }

    .circle {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }

    /* section 3 start why choose us */
    .sub-title {
        letter-spacing: 2px;
        font-size: 14px;
    }

    .why-choose-us-section {
        padding: 30px 10px;
    }

    .why-choose-us-title {
        font-size: 14px;
    }

    .details_info {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    /* section 1 start our staff training  */
    .head-title h1 {
        font-size: 1.8rem;
        padding-top: 15px;
    }

    .text_info p {
        padding: 5px 25px 20px 25px;
    }

    .image-cards {
        align-items: center;
        flex-direction: column;
    }

    .staff_card {
        width: 90%;
        margin-bottom: 20px;
    }

    .staff_card h3 {
        font-size: 1rem;
    }

    .staff_card p {
        font-size: 13px;
    }

    /* section 2 start our working process  */
    .our-working-section {
        padding-top: 35px;
    }

    .working-images {
        align-items: center;
        flex-direction: column;
    }

    .working-img-card {
        width: 90%;
        padding: 15px;
        margin-bottom: 20px;
    }

    .circle {
        top: -20px;
        width: 35px;
        height: 35px;
        font-size: 1.4rem;
        left: calc(50% - 17.5px);
    }

    .working-img-card img {
        width: 60%;
    }

    .working-img-card h3 {
        font-size: 1rem;
        margin-top: 15px;
    }

    /* sections 3 start why choose us  */
    .why-choose-us-div {
        flex-direction: column;
    }

    .left-div-img img {
        width: 100%;
    }

    .right-div {
        padding: 20px;
        text-align: left;
    }

    .column_right {
        padding-left: 0;
    }

    .why-choose-us-title {
        font-size: 15px;
    }

    .details_info {
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    
}